/* 页面 less 文件, 如果不用less就直接编辑相应的css文件 */
#m-head > .title {
  line-height: 37px;
  padding-left: 12px;
  border-bottom: 1px solid #ededed;
}
#m-head > .info > div {
  line-height: 40px;
}
#m-head > .info > div.pull-left {
  padding-left: 18px;
}
#m-head > .info > div.pull-left > span:not(:first-child) {
  margin-left: 12px;
}
#m-head > .info > div.pull-right {
  padding-right: 18px;
}
#m-head > .info > div.pull-right > i:not(:last-child) {
  margin-right: 12px;
}
#m-info > div {
  display: inline-block;
  vertical-align: middle;
  width: 33.3%;
  padding: 12px 0;
}
#m-info > div > div {
  border-left: 1px solid #e34c0b;
  text-align: center;
  line-height: 15px;
}
#m-info > div > div > span {
  font-size: 12px;
  display: inline-block;
  vertical-align: middle;
  line-height: 1em;
  margin: 2.5px 0 0 8px;
}
#m-info > div:first-child > div {
  border-left: none;
}
